<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Control.AsyncSeq" version="2.0.1" targetFramework="net45" userInstalled="true" />
  <package id="FSharp.Control.Reactive" version="3.2.0" targetFramework="net45" userInstalled="true" />
  <package id="FSharp.Core" version="3.1.2.5" targetFramework="net45" userInstalled="true" />
  <package id="FSharpx.Async" version="1.12.0" targetFramework="net45" userInstalled="true" />
  <package id="FSharpx.Collections" version="1.10.1" targetFramework="net45" userInstalled="true" />
  <package id="FSharpx.Extras" version="1.10.2" targetFramework="net45" userInstalled="true" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" userInstalled="true" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" userInstalled="true" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" userInstalled="true" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" userInstalled="true" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" userInstalled="true" />
</packages>